body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 20px;
}

/* Judul */
h1{
    text-align: center;
    color: #2c3e50;
}

h2{
    color: #34495e;
    margin-top: 25px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

/* Paragraf */
p{
    line-height: 1.6;
}

/* Tabel */
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: white;
}

th{
    background: #3498db;
    color: white;
}

th, td{
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

tr:nth-child(even){
    background: #f2f2f2;
}

/* List */
ol{
    padding-left: 20px;
}

ul{
    padding-left: 20px;
}

/* Range Skill */
input[type="range"]{
    width: 100%;
    accent-color: #3498db;
}

/* Gambar */
img{
    border-radius: 10px;
    border: 3px solid #3498db;
    margin-top: 10px;
}

/* Link */
a{
    text-decoration: none;
    background: #3498db;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
}

a:hover{
    background: #2c3e50;
}

/* Motto */
marquee{
    font-weight: bold;
    color: #e74c3c;
    font-size: 18px;
}

.highlight{
    background-color: yellow;
    font-weight: bold;
    padding: 3px;
}